@import 'tailwindcss';

:root {
	--background: #fff;
	--secondary: #fbf4ea;
	--foreground: #171717;
	--accent: #222c17;
}

@theme inline {
	--color-background: var(--background);
	--color-secondary: var(--secondary);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #fff;
		--secondary: #fbf4ea;
		--foreground: #171717;
		--accent: #222c17;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Lexend, sans-serif;
	font-weight: 200;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	@apply text-xl xl:text-lg;
}

footer {
	box-shadow: 0 0 10px var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: NewsReader, serif;
}

h1 {
	@apply text-5xl md:text-9xl;
}

h2 {
	@apply text-3xl font-medium mt-10 mb-4 uppercase;
}

h3 {
	@apply uppercase;
}

h4 {
	@apply uppercase;
}
